/* Carousel styling */
.introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    /*height: 100vh;*/
}

/* .introCarousel .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

.introCarousel .carousel-amg {
    background: linear-gradient(45deg, rgb(9 13 18 / 98%), rgb(14 127 214 / 43%) 100%);
}

.introCarousel > img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.mask {
    background-color:rgba(0, 0, 0, 0.6);
}

/*Media queries*/
@media (min-width: 992px) {

    /* Carousel styling */
    .introCarousel {
        margin-top: -58.59px;
    }
/*
    .introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 50vh;
    } */
}